@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
html {
  font-size: 10px;
}

img {
  width: 100%;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

.container {
  max-width: 113rem;
  margin: auto;
  padding: 0 1.5rem;
}

@media (max-width: 1024px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 427px) {
  html {
    font-size: 3.5px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 2.5px;
  }
}

.button {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.33rem;
  letter-spacing: -0.12rem;
  color: #000000;
  padding: 1.5rem 2.9rem;
  background-color: #ffcc00;
  background-image: linear-gradient(-1deg, #ffcc00 0%, #ffe788 100%);
  border-radius: 1rem;
  text-decoration: none;
}

b {
  color: #000000;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-weight: 600;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #ffcd07;
}

.head {
  position: fixed;
  top: 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.8rem;
}

.navigation__logo {
  flex: 0 1 30%;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  flex: 0 1 30%;
}

.navigation-menu__text {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
}

.navigation-callback {
  display: flex;
  justify-content: center;
  flex: 0 1 34%;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
}

.navigation-callback__phone {
  text-decoration: none;
  font-size: 2rem;
  color: #000000;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .navigation-callback {
    flex-basis: 50%;
    justify-content: center;
  }
  .navigation-menu {
    display: none;
  }
}

.hero {
  margin-top: 13.4rem;
}

.hero-block {
  display: flex;
}

.hero-text {
  flex-basis: 50%;
  margin-top: 8rem;
}

.hero-text__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #ffcd07;
  font-size: 4.5rem;
}

.hero-text__subtitle {
  margin-top: 4rem;
  margin-bottom: 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 2.4rem;
}

.hero-text-list {
  margin-left: -4rem;
  list-style: none;
}

.hero-text-list__li {
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.8rem;
  background: url("../img/hero-marker.png") no-repeat left center;
  background-size: 7%;
  padding-left: 10rem;
}

.hero-text__button {
  margin-top: 2rem;
}

.hero__image {
  flex-basis: 55%;
  margin-right: -8rem;
}

.economy {
  margin-top: 4rem;
}

.economy-block {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.economy-block__img {
  flex-basis: 53%;
}

.economy-block-text {
  margin-top: 13rem;
}

.economy-block__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 3rem;
  margin-top: 3rem;
}

.economy-block__subtitle::after {
  content: '';
  width: 9.7rem;
  height: 0.8rem;
  display: block;
  background-color: #ffcc00;
  margin-top: 4.5rem;
}

.economy-block__text {
  margin: 4rem 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 2.3rem;
  max-width: 46.9rem;
}

.economy-block-form {
  position: absolute;
  top: 17.9rem;
  right: 7.1rem;
  width: 40rem;
  height: 36.5rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 4.5rem;
  text-align: center;
  box-shadow: -0.2rem 0.3rem 6.5rem rgba(0, 0, 0, 0.26);
}

.economy-block-form__button {
  margin-bottom: 4rem;
}

.economy-block-form__policy {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.4rem;
  color: #868686;
}

.economy-block-form span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
}

.economy-block-form input {
  box-sizing: border-box;
  margin: 3rem auto;
  display: block;
  padding: 1.7rem 4.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 1.8rem;
  color: #aeaeae;
  background-color: #f4f4f4;
  border: none;
  font-weight: 400;
}

.package-block {
  display: flex;
  justify-content: space-between;
}

.package-block__image {
  margin-top: -18rem;
  flex-basis: 53%;
}

.package-block-text {
  margin-top: 14rem;
  width: 49rem;
}

.package-block-text__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #ffcd07;
}

.package-block-text__title::after {
  content: '';
  display: block;
  width: 9.7rem;
  height: 0.8rem;
  background-color: #ffcc00;
  margin-top: 4.8rem;
  margin-bottom: 3.8rem;
}

.package-block-text__small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 2.3rem;
}
/*# sourceMappingURL=style.css.map */