.head
    position: fixed
    top: 0
    width: 100%
.navigation
    display: flex
    justify-content: space-between  
    align-items: center
    margin-top: 3.8rem
    &__logo
        flex: 0 1 30%
    &-menu
        display: flex
        justify-content: space-between
        margin-right: 5rem
        flex: 0 1 30%
        &__text
            text-decoration: none
            font-size: 2rem
            +regular
    &-callback
        display: flex
        justify-content: space-between
        flex: 0 1 34%
        align-items: center
        +regular
        &__phone
            text-decoration: none
            font-size: 2rem
            color: #000000
        &__button
@media (max-width: 768px)
    .navigation
        &-callback
            flex-basis: 40%
        &-menu
            display: none
        

        
