.reviews
    margin-top: 150px
    background: url('../img/Узор 5.png') no-repeat center top
    &-block
        width: 60%
        margin: auto
        text-align: center
        padding-bottom: 60px
    &__title
        +title
        text-transform: uppercase
        margin-bottom: 150px
        padding: 0 50px
    &-card
        position: relative
        width: 663px
        height: 390px
        perspective: 10000px
        margin-bottom: 150px        
        &__image
            position: absolute
            top: 0
            left: 0
            backface-visibility: hidden
            transition: 1s
        &__text
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            background-color: #bbc3c5
            backface-visibility: hidden
            transition: 1s
            transform: rotateY(180deg)
            +regular
            font-size: 30px
            padding: 0 25px
        &:hover .reviews-card__image
            transform: rotateY(180deg)
        &:hover .reviews-card__text
            transform: rotateY(360deg)
.text-2
    background-color: #a4d1f4



            
    